@media (prefers-color-scheme: dark) {
    .site-header.dark, .site-nav-wrap {
		background: hsl(0, 0%, 7%);
	}
	body {
        background: hsl(0, 0%, 10%);
	}
	h1, h2, h3, h4, h5, h6, .block-title, .site-header.dark, .site-nav-wrap {
		color: hsla(0, 100%, 100%, 0.87);
	}
	body, label, a.button:hover, button:hover, pre:before, pre {
		color: hsla(0, 100%, 100%, 0.60);
	}
	a {
		color: hsla(0, 100%, 100%, 0.38);
	}
	pre:before {
		border-color: hsl(0, 0%, 25%);
	}
	pre, .post-feed .post-inside {
		border: none;
		/* Change this color if you don't use violet as accent-color */
		background: hsl(0, 0%, 14%);
	}
	pre {
		border-left: #9371e6 0.4rem solid;
	}
	.post-feed .post-thumbnail img {
		border-radius: unset;
	}
	blockquote {
		font-size: 1rem;
		margin: 1.5rem 0;
		border-top: none;
		border-bottom: none;
		/* Change this color if you don't use violet as accent-color */
		border-left: #9371e6 0.4rem solid;
		padding: 1rem;
	}
	label {
		font-weight: normal;
	}
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="tel"], 
	input[type="search"], 
	input[type="url"], 
	select, 
	textarea {
		background: hsl(0, 0%, 14%);
		border: none;
		color: hsla(0, 100%, 100%, 0.60);
	}
}